#mediaCategoryContainer {
	// display: none;
	background-image: radial-gradient(ellipse, #ffffff 0%, #B7B8BA 65%, #737C92 85%);

	.movieBox {
		width: 90%;
		margin: 1em auto;
		padding: 1em 0;
		animation: fadeIn 1s;

		h3 {

		}

		h4 {
			margin-left: 1em;
		}

		p {
			margin-left: 1em;
		}

		#btnContainer {
			display: block;
			margin: 0 auto;

			button {
				width: 35%;
				margin: 0 5.25%;
				border-radius: 10px;
				color: white;
			}

			#prevBtn {
				background-color: blue;
				background-color: linear-gradient(blue, darkblue);
			}

			#prevBtn:hover {
				background-color: darkblue;
				background-color: linear-gradient(darkblue, black);
				transition: 1s;
			}

			#nextBtn {
				background-color: red;
				background-color: linear-gradient(to right, red, darkred);
			}

			#nextBtn:hover {
				background-color: darkred;
				background-color: linear-gradient(darkred, black);
				transition: 1s;
			}
		}

		@keyframes fadeIn {
		  0% {
		    opacity: 0;
		  }
		  100% {
		    opacity: 1;
		  }
		}
	}

	.episodeBox {
		width: 90%;
		margin: 1em auto;
		padding: 1em 0;	
		animation: fadeIn 1s;

		h3 {
			text-align: center;
		}

		h4 {
			margin-left: 1em;
		}

		p {
			margin-left: 1em;
		}

		#btnContainer {
			display: block;
			margin: 0 auto;

			button {
				width: 35%;
				margin: 0 5.25%;
				border-radius: 10px;
				color: white;
			}

			#prevBtn {
				background-color: blue;
				background-color: linear-gradient(blue, darkblue);
			}

			#prevBtn:hover {
				background-color: darkblue;
				background-color: linear-gradient(darkblue, black);
				transition: 1s;
			}

			#nextBtn {
				background-color: red;
				background-color: linear-gradient(to right, red, darkred);
			}

			#nextBtn:hover {
				background-color: darkred;
				background-color: linear-gradient(darkred, black);
				transition: 1s;
			}
		}

		@keyframes fadeIn {
		  0% {
		    opacity: 0;
		  }
		  100% {
		    opacity: 1;
		  }
		}
	}



	

	.testTranBoxStart {
		background-color: #737C92;
		width: 7em;
		height: 7em;
		margin: 0 auto;
		transition-duration: 2s;
		transition-timing-function: fade;
		transform: rotate(0deg);
	}

	.testTranBoxFinish {
		background-color: #737C92;
		width: 7em;
		height: 7em;
		margin: 0 auto;
		transition-duration: 2s;
		transition-timing-function: fade;
		transform: rotate(360deg);
	}
}

@media screen and(min-width: 450px) {
	.mediaCategoryContainer {
		display: block;
	}
}

@media screen and(min-width: 1000px) {
	.mediaCategoryContainer {
		width: 1000px;
		margin: 0 auto;
	}
}