#mediaCategoryContainer {
	// display: none;
	background-image: radial-gradient(ellipse, #ffffff 0%, #B7B8BA 65%, #737C92 85%);

	.movieBox {
		width: 90%;
		margin: 1em auto;
		padding: 1em 0;

		h3 {

		}

		h4 {
			margin-left: 1em;
		}

		p {
			margin-left: 1em;
		}
	}

	.episodeBox {
		width: 90%;
		margin: 1em auto;
		padding: 1em 0;

		h3 {

		}

		h4 {
			margin-left: 1em;
		}

		p {
			margin-left: 1em;
		}
	}

	.testTranBoxStart {
		background-color: #737C92;
		width: 7em;
		height: 7em;
		margin: 0 auto;
		transition-duration: 2s;
		transition-timing-function: fade;
		transform: rotate(0deg);
	}

	.testTranBoxFinish {
		background-color: #737C92;
		width: 7em;
		height: 7em;
		margin: 0 auto;
		transition-duration: 2s;
		transition-timing-function: fade;
		transform: rotate(360deg);
	}
}

@media screen and(min-width: 450px) {
	.mediaCategoryContainer {
		display: block;
	}
}

@media screen and(min-width: 1000px) {
	.mediaCategoryContainer {
		width: 1000px;
		margin: 0 auto;
	}
}