#loreCategoryContainer {
  margin-top: 1em;
  padding: 1em;
  background-image: radial-gradient(ellipse, #ffffff 0%, #B7B8BA 65%, #737C92 85%); }
  #loreCategoryContainer .technologyBox {
    display: block;
    width: 80%;
    margin: 0 auto; }
    #loreCategoryContainer .technologyBox h3 {
      text-align: center; }
    #loreCategoryContainer .technologyBox img {
      width: 40%;
      margin: 0 30%; }
    #loreCategoryContainer .technologyBox p {
      width: 74%;
      margin: 0 13%; }
  #loreCategoryContainer .affiliationBox {
    display: block;
    width: 80%;
    margin: 0 auto; }
    #loreCategoryContainer .affiliationBox h3 {
      text-align: center; }
    #loreCategoryContainer .affiliationBox img {
      width: 40%;
      margin: 0 30%; }
    #loreCategoryContainer .affiliationBox p {
      width: 74%;
      margin: 0 13%; }
  #loreCategoryContainer .starshipBox {
    display: block;
    width: 80%;
    margin: 0 auto; }
    #loreCategoryContainer .starshipBox h3 {
      text-align: center; }
    #loreCategoryContainer .starshipBox img {
      width: 40%;
      margin: 0 30%;
      border: 1px transparent;
      border-radius: 20%; }
    #loreCategoryContainer .starshipBox p {
      width: 74%;
      margin: 0 13%; }
  #loreCategoryContainer .locationBox {
    display: block;
    width: 80%;
    margin: 0 auto; }
    #loreCategoryContainer .locationBox h3 {
      text-align: center; }
    #loreCategoryContainer .locationBox img {
      width: 40%;
      margin: 0 30%;
      border: 1px transparent;
      border-radius: 100%; }
    #loreCategoryContainer .locationBox p {
      width: 74%;
      margin: 1em 13%; }
