#loreCategoryContainer {
	margin-top: 1em;
	padding: 1em;
	background-image: radial-gradient(ellipse, #ffffff 0%, #B7B8BA 65%, #737C92 85%);

	.technologyBox {
		display: block;
		width: 80%;
		margin: 0 auto;

		h3 {
			text-align: center;
		}

		img {
			width: 40%;
			margin: 0 30%;
		}

		p {
			width: 74%;
			margin: 0 13%;
		}
	}

	.affiliationBox {
		display: block;
		width: 80%;
		margin: 0 auto;

		h3 {
			text-align: center;
		}

		img {
			width: 40%;
			margin: 0 30%;
		}

		p {
			width: 74%;
			margin: 0 13%;
		}
	}

	.starshipBox {
		display: block;
		width: 80%;
		margin: 0 auto;

		h3 {
			text-align: center;
		}

		img {
			width: 40%;
			margin: 0 30%;
			border: 1px transparent;
			border-radius: 20%;
		}

		p {
			width: 74%;
			margin: 0 13%;
		}
	}

	.locationBox {
		display: block;
		width: 80%;
		margin: 0 auto;

		h3 {
			text-align: center;
		}

		img {
			width: 40%;
			margin: 0 30%;
			border: 1px transparent;
			border-radius: 100%;
		}

		p {
			width: 74%;
			margin: 1em 13%;
		}
	}
}
